header,
main,
footer {
    font-family: "Ubuntu", sans-serif;
    min-width: 800px;
    max-width: 1100px;
}

footer {
    padding: 10px;
    clear: both;
    text-align: center;
    font-size: 0.7em;
    color: grey;
    max-width: 100%;
}

main {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.btn-diary {
    float: right;
    margin-right: 10px;
}

#main-main > input {
    margin-right: 4%;
}


/* https://yoonnamee.tistory.com/155 
    position relation과 flaot에 관한 블로그 */

#main-nav {
    position: relative;
    float: left;
    width: 20%;
    height: 600px;
}

#main-main {
    float: right;
    width: 78%;
    min-width: 600px;
    height: 600px;
}

#main-main > input {
    float: right;
}

#main-nav-ul {
    list-style-type: none;
}

#new-diary {
    margin: 1%;
    height: 80%;
    width: 100%;
}

#diary-header,
#diary-body {
    margin: 1%;
}

#diary-title {
    width: 70%;
}

#diary-pw {
    width: 24%;
}

#diary-content {
    margin: 1%;
    width: 94%;
    height: 440px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}

#board-table {
    height: 100%;
    width: 800px;
    padding: 3px;
    text-align: center;
    border: 1px solid #dddddd;
}

#board-table th{
    background-color: #eeeeee; text-align: center;
}

#board-table-view{
    text-align: center;
    width: 700px;
    height: 400px;
    border: 1px solid #dddddd;
}