header,
main,
footer {
    font-family: "NotoSerifWeb", "Noto Serif CJK Kr", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

footer {
    text-align: center;
    font-size: 1.2em;
    color: grey;
}


/* https://yoonnamee.tistory.com/155 
    position relation과 flaot에 관한 블로그 */

#main-nav {
    position: relative;
    float: left;
    width: 19%;
    height: 800px;
    border: 1px solid gray;
}

#main-main {
    float: right;
    width: 79%;
    height: 800px;
    border: 1px solid gray;
}